API_ID=eba06c9f32dc283510c4366403d7948f
API_HASH=33125525
BOT_TOKEN=8722554080:AAGEFpPs_7kle_QKuHBVbBWICJHSGqVrMFE
LOGGER_ID=-1003886849020
MONGO_DB_URI=mongodb+srv://rj5706603:O95nvJYxapyDHfkw@cluster0.fzmckei.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=@Stakes_xd
STRING_SESSION=BQH5dJUAaY6zDeIsnuyZcnhEkPnj0ZBq4vE9moTaP6tTgGZ60u6xJBJb1A-wyURqphWM3W8A0HylbWIXuxBVX5slyJ1xYPMgy8UkI78JrvBV3vxnOJNO3iJL5xdNKQUdfcSZeRHxN53mfVY4hIKUoyP_pZNKYWfk85Bb0B7JAs6dv_CpXckkq8ywpziXmLHtsxWBxKTMoYl9SjFLISny-_HvNDYozCNputwHda-XcOHvQNYwLoPRv5qtesCwLR5GJZ1WnFyOvfEIhmlAw2pKbByPaURobQcYbJFXib1LS7EOjAOKzRav_Zkw4h-6BlUKjiOG7bfV_D97b9HtEKLgTY0s1t6k8gAAAAGX46YfAA

